* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 100px 100px 100px 100px;
  background-color: #BDA577;
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  color: #000000;
  font-size: 80px;
  margin-bottom: auto;
}

.top-wrapper hr {
  height: 10px;
  background-color: #ffffff;
}

.top-wrapper h2 {
  color: #000000;
  font-size: 36px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 40px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-left img {
  float: left;
}

.header-left a {
  font-size: 23px;
  line-height: 65px;
  padding: 0 15px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

/*プルダウンメニュー*/
#menu{
  list-style-type: none;
  width: 1000px;
  height: 65px;
  margin: 0 auto;
  padding: 10px;
  background-color: inherit;
}
#menu li{
  position: relative;
  width: 140px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a{
  display: block;
  margin: 0;
  padding: 13px 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu li:last-child ul{
  left: -20%;
  width: 100%
}
#menu li ul li{
  overflow: hidden;
  width: 120%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu li ul li a{
  padding: 13px 15px;
  background-color: rgba(34, 49, 52, 0.9);
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}
#menu li:hover > a{
  background-color: rgba(34, 49, 52, 0.9);
  color: #e0dc62;
}
#menu li:hover ul li{
  overflow: visible;
  height: 45px;
  border-bottom: 1px solid #fff;
}
#menu li:hover ul li:first-child{
  border-top: 0;
}
#menu li:hover ul li:last-child{
  border-bottom: 0;
}

.header-list {
  margin-left: 540px;
}

.header-list ul:hover {
  background-color: rgba(255,255,255,0.3);
}
/*見出し*/
.heading {
  background-color: #f5f5f5;
}

.heading h2 {
  padding: 20px 80px;
  font-size: 30px;
}

.contents {
  width: 100%;
}

.contents p {
  padding: 20px 80px;
  font-size: 20px;
}

.contents span {
  font-weight: bold;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.slider{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

/*カルーセル*/

.slider__content{
  min-width: 100%;
  animation: sliderAnime 50s ease-in-out infinite;
}

@keyframes sliderAnime{
  0%{

  }
  2.5%{
    transform: translateX(0);
  }
  5%{
    transform: translateX(-100%);
  }
  7.5%{
    transform: translateX(-100%);
  }
  10%{
    transform: translateX(-200%);
  }
  12.5%{
    transform: translateX(-200%);
  }
  15%{
    transform: translateX(-300%);
  }
  17.5%{
    transform: translateX(-300%);
  }
  20%{
    transform: translateX(-400%);
  }
  22.5%{
    transform: translateX(-400%);
  }
  25%{
    transform: translateX(-500%);
  }
  27.5%{
    transform: translateX(-500%);
  }
  30%{
    transform: translateX(-600%);
  }
  32.5%{
    transform: translateX(-600%);
  }
  35%{
    transform: translateX(-700%);
  }
  37.5%{
    transform: translateX(-700%);
  }
  40%{
    transform: translateX(-800%);
  }
  42.5%{
    transform: translateX(-800%);
  }
  45%{
    transform: translateX(-900%);
  }
  47.5%{
    transform: translateX(-900%);
  }
  50%{
    transform: translateX(-1000%);
  }
  52.5%{
    transform: translateX(-1000%);
  }
  55%{
    transform: translateX(-1100%);
  }
  57.5%{
    transform: translateX(-1100%);
  }
  60%{
    transform: translateX(-1200%);
  }
  62.5%{
    transform: translateX(-1200%);
  }
  65%{
    transform: translateX(-1300%);
  }
  67.5%{
    transform: translateX(-1300%);
  }
  70%{
    transform: translateX(-1400%);
  }
  72.5%{
    transform: translateX(-1400%);
  }
  75%{
    transform: translateX(-1500%);
  }
  77.5%{
    transform: translateX(-1500%);
  }
  80%{
    transform: translateX(-1600%);
  }
  82.5%{
    transform: translateX(-1600%);
  }
  85%{
    transform: translateX(-1700%);
  }
  87.5%{
    transform: translateX(-1700%);
  }
  90%{
    transform: translateX(-1800%);
  }
  92.5%{
    transform: translateX(-1800%);
  }
  100%{
    transform: translateX(0);
  }
} 


.slider2__content{
  min-width: 100%;
  animation: sliderAnime1 50s ease-in-out infinite;
}

@keyframes sliderAnime1{
  0%{

  }
  5%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(-100%);
  }
  15%{
    transform: translateX(-100%);
  }
  20%{
    transform: translateX(-200%);
  }
  25%{
    transform: translateX(-200%);
  }
  30%{
    transform: translateX(-300%);
  }
  35%{
    transform: translateX(-300%);
  }
  40%{
    transform: translateX(-400%);
  }
  45%{
    transform: translateX(-400%);
  }
  50%{
    transform: translateX(-500%);
  }
  55%{
    transform: translateX(-500%);
  }
  60%{
    transform: translateX(-600%);
  }
  65%{
    transform: translateX(-600%);
  }
  70%{
    transform: translateX(-700%);
  }
  75%{
    transform: translateX(-700%);
  }
  80%{
    transform: translateX(-800%);
  }
  85%{
    transform: translateX(-800%);
  }
  90%{
    transform: translateX(-900%);
  }
  95%{
    transform: translateX(-900%);
  }
  100%{
    transform: translateX(0);
  }
} 

.slider__img{
  max-width: 100%;
  min-width: 100%;
}

footer p {
  font-size: 12px;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
/*大事なやつ*/
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.drawer {
  display: none;
}

.clear {
  clear: left;
}

.clear1 {
  width: 100%;
}



/*電光掲示板*/
.board {
  background-image: url(hyouziki.PNG);
  background-size: 100%;
  height: 130px;
}

.scroll {
  margin : auto;
  padding-top: 20px;
  width      : 780px;
  height     : 100px;
  font-size  : 60px;
  line-height: 1.5em;
  text-align : center;
  color      : #D88900;
  overflow   : hidden;
}
.scroll span{
  display     : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation   : scrollAnime 25s linear infinite;
}
@keyframes scrollAnime{
    0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}
